---
import LayoutP from "@dataAnalysis/layouts/layoutPrueba.astro";
import Chart from "@dataAnalysis/components/MultiLine";
---

<LayoutP title="Prueba grafico">
  <main>
    <Chart client:load />
  </main>
</LayoutP>
