---
import LayoutP from "@dataAnalysis/layouts/layoutPrueba.astro";
import HombreVSMujeres from "@dataAnalysis/components/HombreVSMujeres";
import CantidadDatos from "@dataAnalysis/components/CantidadDatos";
import MedallasPorOlimpiada from "@dataAnalysis/components/MedallasTiempo";
import PieMedallas from "@dataAnalysis/components/MedallasPaisPie";
import MedallasPorPaises from "@dataAnalysis/components/MedalComp";
---

<LayoutP title="Prueba grafico">
  <main>
    <CantidadDatos />
    <HombreVSMujeres client:load />
    <br />
    <MedallasPorOlimpiada client:load />
    <br />
    <PieMedallas eventName={"football"} client:load />
    <br />
    <MedallasPorPaises countryName={"Canada"} client:load />
  </main>
</LayoutP>
