---
import LayoutP from "@dataAnalysis/layouts/layoutPrueba.astro";
import Pie from "@dataAnalysis/components/Pie";
import MedallasPorPaises from "@dataAnalysis/components/MedallasPorPais";
import MedallasTabla from "@dataAnalysis/components/MedallasTabla";
---

<LayoutP title="Pruebas de gráficos">
  <main>
    <Pie eventName={"football"} client:load />
    <br />
    <MedallasPorPaises countryName="Canada" client:load />
    <MedallasTabla client:load />
  </main></LayoutP
>
