---
import LayoutP from "@dataAnalysis/layouts/layoutPrueba.astro";
import Pie from "@dataAnalysis/components/Pie";
---

<LayoutP title="Pruebas de gráficos">
  <main>
    <Pie eventName={"football"} client:load />
  </main>
</LayoutP>
