---
import LayoutP from "@dataAnalysis/layouts/layoutPrueba.astro";
import MultiLine from "@dataAnalysis/components/MultiLine";
import ShowData from "@dataAnalysis/components/ShowData";
import Bar from "@dataAnalysis/components/Bar";
---

<LayoutP title="Prueba grafico">
  <main>
    <ShowData />
    <MultiLine client:load />
    <br />
    <Bar client:load />
  </main>
</LayoutP>
