---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		scroll-behavior: smooth;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes slideUp {
		from {
			transform: translateY(50px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes slideLeft {
		from {
			transform: translateX(50px);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes slideRight {
		from {
			transform: translateX(-50px);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.animate-fade-in {
		animation: fadeIn 1s ease-out;
	}

	.animate-slide-up {
		animation: slideUp 1s ease-out;
	}

	.animate-slide-left {
		animation: slideLeft 1s ease-out;
	}

	.animate-slide-right {
		animation: slideRight 1s ease-out;
	}
</style>
